@media (max-width: 768px) {
    .navbar {
        padding: 10px; 
    }
    .rocket {
        width: 30rem; 
        margin-right: 20px !important;
    }
    .navbar-toggler{
        background-color: rgb(244, 244, 44);
    }
}
